<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= site %> | <%= local.title %></title>
<!-- global style -->
<% styles.forEach(function(sty){ %>
<link rel="stylesheet" href="<%= sty %>" />
<% }) %>
<!-- local style -->
<% if(local.styles) { local.styles.forEach(function(sty){ %>
<link rel="stylesheet" href="<%= sty %>" />
<% }) } %>
