<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./layout/_head.ejs') %>
  </head>
  <body>
    <%- include ('./index/_navbar.ejs') %>
    <h1>This is <%= local.title %></h1>
    <%- include ('./layout/_footer.ejs') %>
  </body>
</html>
